<div>
  <div>
    <h1>
      Recording #<%= @the_recording.id %> details
    </h1>

    <div>
      <div>
        <a href="/recordings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recording/<%= @the_recording.id %>">
          Delete recording
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Recording type
      </dt>
      <dd>
        <%= @the_recording.recording_type %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_recording.body %>
      </dd>

      <dt>
        Summary
      </dt>
      <dd>
        <%= @the_recording.summary %>
      </dd>

      <dt>
        Activities count
      </dt>
      <dd>
        <%= @the_recording.activities_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recording.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recording.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit recording
    </h2>

    <form action="/modify_recording/<%= @the_recording.id %>"  method="post" >
      <div>
        <label for="recording_type_box">
          Recording type
        </label>

        <input type="text" id="recording_type_box" name="query_recording_type" value="<%= @the_recording.recording_type %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_recording.body %></textarea>
      </div>

      <div>
        <label for="summary_box">
          Summary
        </label>

        <textarea id="summary_box" name="query_summary"><%= @the_recording.summary %></textarea>
      </div>

      <div>
        <label for="activities_count_box">
          Activities count
        </label>

        <input type="text" id="activities_count_box" name="query_activities_count" value="<%= @the_recording.activities_count %>">
      </div>

      <button>
        Update recording
      </button>
    </form>
  </div>
</div>

<hr>
