<div class="container">
  <h1>Dictation App: Confirmation</h1>
  <hr>

  <% if @recording.present? %>
    <div><b>Recording Summary:</b> <%= @recording.summary %></div>
    <div><b>Recording Type:</b> <%= @recording.recording_type.capitalize %></div>
    <div><b>Status:</b> <%= @recording.status.capitalize %></div>
    <div><b>Body:</b> <%= @recording.body %></div>
    <hr>
    <% if @activities.present? %>
      <h3>Associated Activities:</h3>
      <ul>
        <% @activities.each do |activity| %>
          <li>
            <b>Action:</b> <%= activity.action.capitalize %>,
            <b>Type:</b> <%= activity.database_name.capitalize %>,
            <b>Status:</b> <%= activity.status.capitalize %>,
            <b>URL:</b> <a href="<%= activity.page_url %>" target="_blank">Open in Notion</a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No activities associated with this recording.</p>
    <% end %>
  <% else %>
    <p>No recording information available.</p>
  <% end %>
</div>
