<!--app/views/main_templates/processing.html.erb -->
<h1>Processing</h1>
<hr>
<div>
For testing, we can consider the following transcriptions:

<ol>
<li>"On Tuesday, I need to pick up my dry cleaning."</li>
<li>"I have an assignment for my Digital Marketing Lab class due on Saturday."</li>
<li>"I need to send a follow up email to Jessica about the club."</li>
<li>"I need to go to the banquet next month."</li>
<li>"AYO GPT - can you help a m*f* remember that he's gotta fill up a m*f* car with some m*f* gas by Monday?"</li>
<li>I had a long conversation with my Samuel yesterday. I told him my view of the world - that it's in decay, that we're about to face hard times, and that he shouldn't be too picky in choosing a job. It was a harsh but fair conversation.</li>
<li>I can't believe it. I'm so screwed. I have 10 minutes to do the readings for my Digital Marketing Lab class and I haven't started. I'm so screwed. Oh my god oh my god oh my god. I have 10 minutes to read the entire Google Analytics 4 documentation and get a certification. I'm so screwed HELP ME.</li>
</ol>
</div>
<hr>
<h2>Send to ChatGPT</h2>
<br><br><br>
<h3>Sent to ChatGPT</h3>

<h3>Output</h3>
<div>
<%if @result == "note"%>
  <div><b>Note title: </b><%=@title%></div>
  <div><b>Note body: </b><%=@body%></div>
  <div><b>Note date: </b><%=@todays_date%></div>
<%elsif @result == "task"%>
  <div><b>Task: </b><%=@task%></div>
  <div><b>Deadline: </b><%=@deadline%></div>
<%else%>

<%end%>

</div>
